<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>JP Translations</title>

  <meta name="description" content="Ihr zuverlässiger Partner für professionelle Übersetzungsdienstleistungen und Coaching.">
  <meta name="keywords" content="professionelle Übersetzung, Übersetzer Deutsch-Portugiesisch, Sprachcoaching, interkulturelle Kommunikation, JP Translations">

  <meta property="og:title" content="JP Translations | Tradução e Coaching">
  <meta property="og:description" content="Ihr zuverlässiger Partner für professionelle Übersetzungsdienstleistungen und Coaching.">


  <link rel="canonical" href="https://seusite.com">
  <link rel="stylesheet" href="css/global.css">
</head> 

<body> 

  <section class="quick-contact">
  <div class="contact-container">
    <div class="contact-text">
      <h2>Kontaktieren Sie uns für eine Beratung</h2>
      <p>Haben Sie Fragen oder benötigen Sie ein unverbindliches Angebot? <br> 
         Wir sind nur einen Klick entfernt.</p>
    </div>

    <div class="contact-actions">
      <a href="info@jptranslations.com" class="btn-contact-outline">
        E-Mail senden
      </a>

      <div class="social-wrapper">
        <a href="#whatsapp" class="btn-socialmedia"><img src="css/foto/whatsapp-Icon.svg" alt="WhatsApp"></a>
        <a href="#instagram" class="btn-socialmedia"><img src="css/foto/instagram-Icon.svg" alt="Instagram"></a>
      </div>
    </div>
  </div>
    
</section>
    <script src="js/script.js" defer></script>
</body>
</html>




