<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Serviços profissionais de tradução, coaching de idiomas e comunicação intersetorial. Tradutores especialistas para o seu sucesso global com a JP Translations.">
  <meta name="description" content="Ihr zuverlässiger Partner für professionelle Übersetzungsdienstleistungen und Coaching.">
  <meta name="keywords" content="professionelle Übersetzung, Übersetzer Deutsch-Portugiesisch, Sprachcoaching, interkulturelle Kommunikation, JP Translations">

  <meta property="og:title" content="JP Translations | Tradução e Coaching">
  <meta property="og:description" content="Ihr zuverlässiger Partner für professionelle Übersetzungsdienstleistungen und Coaching.">
  
  <title>JP Translations</title>
  <link rel="canonical" href="https://seusite.com">
  <link rel="stylesheet" href="css/global.css">
</head>
<body>


<footer class="main-footer">
<div class="footer-container">
  <div class="footer-logo">
    <img src="css/foto/Logo-edit.svg" alt="Logo">
    <p>© 2026 JP Translations ® - Alle Rechte vorbehalten.</p>
  </div>
  
  <nav class="footer-nav">
    <div class="footer-column">
      <a href="/index.html">Home</a>
      <a href="/service.html">Dienstleistungen</a>
      <a href="/about.html">Über uns</a>
      <a href="/contact.html">Kontakt</a>
      </div>
      <div class="footer-column">
        
        <a href="#cooperation">Kooperationen</a>
        <a href="/impressum.html">Impressum</a>
        <a  href="javascript:void(0)" onclick="openDatenschutz()">Datenschutzerklärung</a>
      </div>
    </nav>
  </div>
</footer>

  <script src="js/script.js" defer></script>
</body>
</html>